@model IEnumerable<JobTitleViewModel>

@{
    ViewData["Title"] = "Job Titles";
}

<h1>Job Titles</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TitleName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TitleName)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.JobTitleID" class="btn btn-info btn-sm">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.JobTitleID" class="btn btn-secondary btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.JobTitleID" class="btn btn-danger btn-sm">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>